<?xml version="1.0" encoding="UTF-8"?>

<beans>
	<bean id="fatwireManager" class="org.entermedia.fatwire.FatwireManager"  scope="prototype" >
		<property name="userManager"><ref bean="userManager"/></property>
		<property name="xmlArchive"><ref bean="xmlArchive"/></property>
	</bean>
	
	<bean id="fatwireModule" class="org.entermedia.fatwire.FatwireModule" >
		<property name="fatwireManager"><ref bean="fatwireManager"/></property>
	</bean>
	
	<bean id="fatwirepublisher" class="org.entermedia.fatwire.FatwirePublisher"  scope="prototype" >
	</bean>
	
</beans>